@media screen and (min-width: 760px){
	/*colors:
	black-#130808
	grey-#1F1F1E
	lightgrey-#717171
	white-#FCFCFC
	red-#CD362A
	/*/


	/*---------------------ARROWS---------------------*/
	.arrow-box{
		display: none;
	}
	.arrow-box-left{
		width: 10%;
		height: 80%;
		position: absolute;
		top: 20%;
		left: 0;
	}
	.arrow-box-right{
		width: 10%;
		height: 80%;
		position: absolute;
		top: 20%;
		right: 0;
	}
	.arrow-box:hover {
		background: grey;
		cursor: pointer;
		transition: 0.2s;
	}
	.arrow-box:active {
		background: lightgrey;
		cursor: pointer;
		transition: 0.2s;
	}
	.arrow-box-left:active .left-arrow{
		transition: 0.2s;
		top: 60.5%;
		width: 49%;
	}	
	.arrow-box-right:active .right-arrow{
		transition: 0.2s;
		top: 60.5%;
		width: 49%;
	}
	.left-arrow{
		position: absolute;
		width: 50%;
		top: 60%;
    	left: 25%;
    	cursor: pointer;
	}
	.right-arrow{
		position: absolute;
		width: 50%;
		top: 60%;
    	right: 25%;
    	cursor: pointer;
	}
	.left-arrow:active{
		transition: 0.2s;
		top: 60.5%;
		width: 49%;
	}
	.right-arrow:active{
		transition: 0.2s;
		top: 60.5%;
		width: 49%;
	}
/*	---------------------SEX---------------------
*/	.sex-window{
		width: 80%;
		height: 80%;
		margin: 0 auto;
		cursor: pointer;
	}
	.sex-window-male{
		width: 50%;
		height: 100%;
		float: left;
		background: grey;
	}
	.sex-window-female{
		width: 50%;
		height: 100%;
		float: left;
		background: lightgrey;
	}
/*	------------------BELTS---------------------*/
	.male-belts{
		width: 80%;
		height: 80%;
		margin: 0 auto;
		background: grey;
		position: absolute;
		top: 20%;
		left: 10%;
		display: none;
	}
	.female-belts{
		width: 80%;
		height: 80%;
		margin: 0 auto;
		background: grey;
		position: absolute;
		top: 20%;
		left: 10%;
		display: none;
	}
}

@media screen and (max-width: 760px) {
	/*	---------------------SEX---------------------
*/
	.right-arrow{
		position: absolute;
		width: 0%;
		top: 0%;
	}	
	.sex-window{
		width: 100%;
		height: 90%;
		margin: 0 auto;

	}
	.sex-window-male{
		width: 100%;
		height: 45%;
		background: grey;
		float: right;
		position: absolute;
		top:10%;
		
	}
	
	.sex-window-female{
		width: 100%;
		height: 45%;
		background: lightgrey;
		float: right;
		position: absolute;
		top: 55%;

	}

	/*---------------------ARROWS---------------------*/
	.arrow-box{
		display: none;
	}
	.arrow-box-left{
		width: 15%;
		height: 90%;
		position: absolute;
		top: 10%;
		left: 0;
	}
	.arrow-box:active {
		background: lightgrey;
		transition: 0.2s;
	}
	.arrow-box-left:active .left-arrow{
		transition: 0.2s;
		top: 50.5%;
		width: 70%;
	}	

	.left-arrow{
		position: absolute;
		width: 80%;
    	top: 50%;
    	left: 10%;
    	cursor: pointer;
	}

	.left-arrow:active{
		transition: 0.2s;
		top: 50.5%;
		width: 70%;
	}
/*	------------------BELTS---------------------*/
	.male-belts{
		width: 85%;
		height: 90%;
		margin: 0 auto;
		background: grey;
		position: absolute;
		top: 10%;
		left: 15%;
		display: none;
	}
	.female-belts{
		width: 85%;
		height: 90%;
		margin: 0 auto;
		background: grey;
		position: absolute;
		top: 10%;
		left: 15%;
		display: none;
	}

}