*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
a{
	text-decoration: none;
}
@media screen and (min-width: 760px){

	ul {
	list-style: none;
	}
	a {
	text-decoration: none;
	outline: none;
	}
	.main-div img{
	display: block;
	width: 100%;
	}

	.container{
		width: 100%;
	}
	.header{
		height: 20%;
		background: black;
	}
	.header-logo{
		float: left;
		width: 20%;
		height: 100%;
		background: grey;

	}
	.header-cart{
		width: 100%;
		height: 70%;
	}

	.header-menu-button{
		float: left;
		top:5%;

		border-left: 1px solid black;
		width: 20%;
		height: 30%;
		background-color: lightgrey;
		color: white;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}

	.main-div{
		width: 50%;
		height: 40%;
		float: left;
		background: grey;
	}
	.main-div-galery{
		width: 100%;
		height: 40%;
		color:black;
	}
	.main-div:nth-child(1){
		background: white;
	}
	.main-div:nth-child(4){
		background: lightgrey;
	}
	.footer{
		height: 10%;
		widows: 100%;
		background: black;
	}

}
.main-div-text{
		height: 100%;
		padding-top: 20%;
		vertical-align: middle;
		text-align: center;
		color: white;
}
div a{
	display: block;
	height: 100%;
	text-align: center;
}